body {
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  background: rgba(184, 191, 191, 0.5);
  padding: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 50px;
}

.img__wrap {
  position: relative;
  /* height: 200px;
  width: 257px; */
}

.img__description {
  position: absolute;
  background: rgba(184, 191, 191, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #260101;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
  font-size: 100px;
  font-weight: 800;
}

.hero-text {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

button#hire__me {
  margin-top: 5px;
  color: rgba(184, 191, 191) !important;
  text-transform: uppercase;
  background: #260101;
  border: rgba(184, 191, 191) !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;

  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding: 0.5rem 2.5rem;
  font-size: 0.95rem;
  font-weight: 600;
}
button#hire__me:hover {
  cursor: pointer;
  color: #260101 !important;
  transition: all 0.3s ease 0s;
  background-color: rgba(184, 191, 191);
  border-color: #260101 !important;
  border-radius: 50px;
  border: 4px solid;
}

div.main-section-wrapper {
  left: 25px;
  top: 25px;
  right: 25px;
  bottom: 25px;
  background-color: rgba(184, 191, 191);
  padding: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(38, 1, 1, 0.5);
}

.menu-social {
  font-size: 45px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
  opacity: 0.7;
}

ul.contact-info {
  list-style: none;
}

div.tech {
  color: #8c5b49;
  margin: 40px;
  font-weight: 700;
}

li {
  list-style: none;
  text-align: left;
}

ul {
  list-style: square;
  text-align: left;
}

a:link {
  color: #592614;
  text-decoration: none;
}
a:hover {
  color: #d9ab9a;
}
a:visited {
  color: #8c5b49;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #260101;
  font-weight: 700;
  padding: 10px;
}
p {
  font-size: 16px;
  color: #260101;
  line-height: 2;
  align-items: center;
}

h1 {
  font-size: 36px;
  font-weight: 0;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

footer {
  padding-top: 40px;
}

/* mobile view */
@media only screen and (min-width: 320px) {
  div.desktop__menu {
    visibility: hidden;
  }

  .hero-text {
    padding-top: 200px;
    padding-bottom: 400px;
  }
  p,
  .tech,
  a {
    margin-left: 20px;
  }

  a#email__me,
  a#email,
  a#linked {
    margin: 0;
  }

  h2#projects,
  h2#about_me,
  h2#contact {
    padding-bottom: 30px;
  }

  h2#contact__me {
    padding-top: 30px;
  }
  footer,
  p#copyright {
    padding-top: 40px;
    text-align: right;
  }
  .menu-social {
    font-size: 28px;
  }
}

/* ipad view */
@media only screen and (min-width: 760px) {
  div.desktop__menu {
    visibility: hidden;
  }
  .hero-text {
    padding-top: 200px;
  }

  div.desktop__menu {
    visibility: hidden;
  }

  p,
  ul,
  a {
    margin: 50px;
  }
  .menu-social {
    font-size: 40px;
  }

  h2#projects,
  h2#about_me,
  h2#contact__me,
  h3 {
    padding-bottom: 30px;
    margin-left: 40px;
  }

  a#email__me,
  a#email,
  a#linked {
    margin: 0;
  }
}

/*desktop view */
@media only screen and (min-width: 1400px) {
  p,
  ul,
  a {
    margin-left: 100px;
    margin-right: 100px;
  }

  div.tech {
    text-align: left;
  }

  a#email {
    margin: 0;
  }

  div.tech {
    text-align: left;
  }
  li {
    list-style: none;
    text-align: left;
  }

  .menu-social {
    padding: 10px;
  }
  div.desktop__menu {
    visibility: visible;
  }
  div.button,
  span.icon-bar,
  #nav-container {
    visibility: hidden;
  }
  a#desk1,
  a#desk2,
  a#desk3 {
    padding: 50px;
    margin: 0px;
  }

  a {
    margin: 50px;
    font-weight: 700;
  }

  div.desktop__menu {
    margin-left: 200px;
    margin-top: -55px;
    font-size: 25px;
    font-weight: 700;
  }
}
